<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render template:'layouts/helo_header' %>
    <%= yield %>
    <div> </div>
    <hr size="1" color="#aaa">
    <%= render template:'layouts/helo_footer' %>
  </body>
</html>
